AA_S3_ENDPOINT=https://fra1.digitaloceanspaces.com
AA_S3_REGION=fra1
AA_S3_ACCESS_KEY=replace_me
AA_S3_SECRET_KEY=replace_me
AA_KEYS_PROFILE=SchemaStreamCDNDeploy
AA_KEYS_BUCKET=aa-keys
AA_KEYS_REGION=eu-west-2
AA_KEYS_ACCESS_KEY=replace_me
AA_KEYS_SECRET_KEY=replace_me
AA_KEYS_SESSION_TOKEN=
AA_MCP_HOST=0.0.0.0
AA_MCP_PORT=8000
AA_MCP_PATH=/brand-governance
AA_MCP_TRANSPORT=http
AA_LOG_LEVEL=INFO
AA_PRESIGN_EXPIRY=3600
AA_UPGRADE_URL=https://advancedanalytica.co.uk/brand-governance
AA_SUPPORT_EMAIL=jonathan@advancedanalytica.co.uk
